<footer>
    <div class="bordes" style="margin-left: 60px">
        <div class="contacto">
            <div>
                <span class="material-symbols-outlined"> call </span>
            </div>
            <p class="contacto__p">Contactanos</p>
        </div>
        <a class="contacto__p2" href="#">Atencion al cliente </a>
    </div>

    <div class="bordes">
        <div class="sucursales">
            <div>
                <span class="material-symbols-outlined"> pin_drop </span>
            </div>
            <p class="sucursales__p">Sucursales</p>
        </div>
        <a class="sucursales__p2" href="#">Encontra nuestras sucursales</a>
    </div>

    <div class="bordes">
        <div class="preguntas">
            <div>
                <span class="material-symbols-outlined"> help_center </span>
            </div>
            <p class="preguntas__p">Preguntas Frecuentes</p>
        </div>
        <a class="preguntas__p2" href="#">Operaciones en Homebanking</a>
    </div>

    <div class="divisor-acerca">
        <div class="acerca">
            <div>
                <span class="material-symbols-outlined"> language </span>
            </div>
            <p class="acerca__p">Sobre ITBANK</p>
        </div>
        <a class="acerca__p2" href="#">Satisfacemos tus necesidades en todo el pais</a>
    </div>
</footer>