{% extends 'base.html' %}

{% block title %}Inicio{% endblock title %}

{% block description %}Página principal del usuario del homebanking{% endblock description %}

{% load static %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'Clientes/css/style.css' %}" />

<!--Fuentes-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet" />
<script src="https://kit.fontawesome.com/690ff1dac8.js" crossorigin="anonymous"></script>

<!--boostrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>

<!-- Librería para la descarga de PDF -->
<script src="{% static 'html2pdf.bundle.min.js' %}"></script>

{% endblock static %}


{% block content %}

<section id="barra-busqueda">
    <div class="container mb-4 text-center">
        <div class="ms-4 me-4">
            <input class="form-control form-control-lg" type="text" placeholder="Buscar servicios, transferencias, préstamos, etc." />
        </div>
    </div>
</section>

<section id="saldo-cuenta">
    <div class="container mb-4">
        <div class="form-check form-switch">
            <input id="ocultar-datos" class="form-check-input" type="checkbox" role="switch" onclick="displaySaldoCuenta()" />
            <label class="form-check-label" for="flexSwitchCheckDefault">Ocultar datos</label>
        </div>
        <div class="card">
            <!--default view-->
            <div class="card-header d-flex align-items-center">
                <span class="me-auto fs-4 fw-semibold">Caja de Ahorro</span>
                <span class="text-muted">Último acceso: Waiting...</span>
            </div>
            <div class="card-body">
                <p class="card-text mb-3">
                    <span class="fw-semibold">Waiting...</span>
                </p>
                <h4 class="card-text mb-2">$ <span class="fw-bold">Waiting...</span></h4>
                <h5 class="card-text text-success mb-3">U$S <span class="fw-bold">Waiting...</span></h5>

                <p class="card-text">CBU: <span class="fw-semibold">Waiting...</span></p>

                <p class="card-text">Alias: <span class="fw-semibold">Waiting...</span></p>
            </div>
            <!--End default view-->
        </div>
    </div>
</section>

<section id="atajos">
    <div class="container mb-4">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-12 col-sm-6 col-md-3 col-lg-auto text-center p-0 m-1">
                <a class="btn btn-outline-primary text-nowrap overflow-hidden service-button p-2">
                    <img src="{% static 'Clientes/img/transferencia.png' %}" alt="Transferencias" class="service-img mb-2" />
                    <br />
                    <span class="service-text">Transferencias</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-auto text-center p-0 m-1">
                <a class="btn btn-outline-primary text-nowrap overflow-hidden service-button p-2">
                    <img src="{% static 'Clientes/img/pagos.png' %}" alt="Pagos" class="service-img mb-2" />
                    <br />
                    <span class="service-text">Pagos</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-auto text-center p-0 m-1">
                <a class="btn btn-outline-primary text-nowrap overflow-hidden service-button p-2">
                    <img src="{% static 'Clientes/img/codigoqr.png' %}" alt="Codigo-QR" class="service-img mb-2" />
                    <br />
                    <span class="service-text">Código QR</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-auto text-center p-0 m-1">
                <a class="btn btn-outline-primary text-nowrap overflow-hidden service-button p-2" href="{% url 'prestamos' %}">
                    <img src="{% static 'Clientes/img/prestamos.png' %}" alt="Prestamos" class="service-img mb-2" />
                    <br />
                    <span class="service-text">Prestamos</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-auto text-center p-0 m-1">
                <a class="btn btn-outline-primary text-nowrap overflow-hidden service-button p-2">
                    <img src="{% static 'Clientes/img/inversiones.png' %}" alt="Inversiones" class="service-img mb-2" />
                    <br />
                    <span class="service-text">Inversiones</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-auto text-center p-0 m-1">
                <a class="btn btn-outline-primary text-nowrap overflow-hidden service-button p-2">
                    <img src="{% static 'Clientes/img/analisisdegastos.png' %}" alt="Analisis-de-gastos" class="service-img mb-2" />
                    <br />
                    <span class="service-text">Análisis de Gastos</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-auto text-center p-0 m-1">
                <a class="btn btn-outline-primary text-nowrap overflow-hidden service-button p-2">
                    <img src="{% static 'Clientes/img/calendariopagos.png' %}" alt="Calendario-de-pagos" class="service-img mb-2" />
                    <br />
                    <span class="service-text">Calendario de Pagos</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="cotizacion-dolar">
    <div class="container mb-4">
        <div class="d-flex align-items-center">
            <h3 class="ms-4">Cotización del dolar HOY</h3>
            <!--Boton que actualiza la impresion el apartado-->
            <button class="btn btn-sm btn-outline-secondary ms-3" onclick="fetchCotizaciones()"><i class="fa-solid fa-arrow-rotate-right"></i> Actualizar</button>
            <!--el selector pdf para el evento que descargue el pdf-->
            <button id="pdf" onclick="descargarPdf()" class="btn btn-sm btn-outline-secondary ms-3">Descargar PDF</button>
            <!--el selector xsl para el evento que descargue el excel-->
            <button class="btn btn-sm btn-outline-secondary ms-3">Descargar XLS</button>
        </div>
        <div class="container">
            <div class="row d-flex">
                <!--default view-->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card text-center m-2">
                        <div class="card-header">
                            <i class="fa-solid fa-money-bill-wave" style="color: green"></i>
                            Waiting...
                        </div>
                        <div class="row card-body">
                            <div class="col-6 col-sm-12 col-xl-6">
                                <p class="card-text">COMPRA</p>
                                <h3 class="card-title">Waiting...</h3>
                            </div>
                            <div class="col-6 col-sm-12 col-xl-6">
                                <p class="card-text">VENTA</p>
                                <h3 class="card-title">Waiting...</h3>
                            </div>
                        </div>
                        <div class="card-footer text-muted">ACTUALIZADO: Waiting... Waiting...</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card text-center m-2">
                        <div class="card-header">
                            <i class="fa-solid fa-money-bill-wave" style="color: green"></i>
                            Waiting...
                        </div>
                        <div class="row card-body">
                            <div class="col-6 col-sm-12 col-xl-6">
                                <p class="card-text">COMPRA</p>
                                <h3 class="card-title">Waiting...</h3>
                            </div>
                            <div class="col-6 col-sm-12 col-xl-6">
                                <p class="card-text">VENTA</p>
                                <h3 class="card-title">Waiting...</h3>
                            </div>
                        </div>
                        <div class="card-footer text-muted">ACTUALIZADO: Waiting... Waiting...</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card text-center m-2">
                        <div class="card-header">
                            <i class="fa-solid fa-money-bill-wave" style="color: green"></i>
                            Waiting...
                        </div>
                        <div class="row card-body">
                            <div class="col-6 col-sm-12 col-xl-6">
                                <p class="card-text">COMPRA</p>
                                <h3 class="card-title">Waiting...</h3>
                            </div>
                            <div class="col-6 col-sm-12 col-xl-6">
                                <p class="card-text">VENTA</p>
                                <h3 class="card-title">Waiting...</h3>
                            </div>
                        </div>
                        <div class="card-footer text-muted">ACTUALIZADO: Waiting... Waiting...</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card text-center m-2">
                        <div class="card-header">
                            <i class="fa-solid fa-money-bill-wave" style="color: green"></i>
                            Waiting...
                        </div>
                        <div class="row card-body">
                            <div class="col-6 col-sm-12 col-xl-6">
                                <p class="card-text">COMPRA</p>
                                <h3 class="card-title">Waiting...</h3>
                            </div>
                            <div class="col-6 col-sm-12 col-xl-6">
                                <p class="card-text">VENTA</p>
                                <h3 class="card-title">Waiting...</h3>
                            </div>
                        </div>
                        <div class="card-footer text-muted">ACTUALIZADO: Waiting... Waiting...</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card text-center m-2">
                        <div class="card-header">
                            <i class="fa-solid fa-money-bill-wave" style="color: green"></i>
                            Waiting...
                        </div>
                        <div class="row card-body">
                            <div class="col-6 col-sm-12 col-xl-6">
                                <p class="card-text">COMPRA</p>
                                <h3 class="card-title">Waiting...</h3>
                            </div>
                            <div class="col-6 col-sm-12 col-xl-6">
                                <p class="card-text">VENTA</p>
                                <h3 class="card-title">Waiting...</h3>
                            </div>
                        </div>
                        <div class="card-footer text-muted">ACTUALIZADO: Waiting... Waiting...</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card text-center m-2">
                        <div class="card-header">
                            <i class="fa-solid fa-money-bill-wave" style="color: green"></i>
                            Waiting...
                        </div>
                        <div class="row card-body">
                            <div class="col-6 col-sm-12 col-xl-6">
                                <p class="card-text">COMPRA</p>
                                <h3 class="card-title">Waiting...</h3>
                            </div>
                            <div class="col-6 col-sm-12 col-xl-6">
                                <p class="card-text">VENTA</p>
                                <h3 class="card-title">Waiting...</h3>
                            </div>
                        </div>
                        <div class="card-footer text-muted">ACTUALIZADO: Waiting... Waiting...</div>
                    </div>
                </div>
                <!--End default view-->
            </div>
        </div>
    </div>
</section>

<section id="ultimos-movimientos">
    <div class="container">
        <h3 class="ms-4">Últimos movimientos</h3>
        <div class="row ms-4 me-4 mb-2">
            <div class="col-auto me-auto flex-fill">
                <div class="input-group input-group-sm">
                    <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input class="form-control" type="text" placeholder="Buscar movimientos" />
                </div>
            </div>
            <div class="col-auto">
                <button class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-print"></i> Imprimir</button>
                <button class="btn btn-sm btn-outline-secondary ms-2"><i class="fa-solid fa-download"></i> Descargar</button>
            </div>
        </div>
        <div class="ms-4 me-4">
            <table id="movimientos" class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Importe</th>
                        <th scope="col">Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>20/06/22</td>
                        <td>
                            <span class="fw-semibold">Transferencia</span>
                            <br />
                            <span>Detalles</span>
                        </td>
                        <td>- $ 3.000</td>
                        <td>9.000</td>
                    </tr>
                    <tr>
                        <td>19/06/22</td>
                        <td>
                            <span class="fw-semibold">Depósito</span>
                            <br />
                            <span>Detalles</span>
                        </td>
                        <td>$ 10.000</td>
                        <td>12.000</td>
                    </tr>
                    <tr>
                        <td>18/06/22</td>
                        <td>
                            <span class="fw-semibold">Transferencia</span>
                            <br />
                            <span>Detalles</span>
                        </td>
                        <td>- $ 1.000</td>
                        <td>2.000</td>
                    </tr>
                    <tr>
                        <td>17/06/22</td>
                        <td>
                            <span class="fw-semibold">Depósito</span>
                            <br />
                            <span>Detalles</span>
                        </td>
                        <td>$ 1.000</td>
                        <td>3.000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock content %}